.site-header{
    background-color: #9C89B8;
    margin: 0px;
    padding: 30px;
}
.div-header{
    text-align: right;
    font-family: 'Sansita Swashed', cursive;
    font-size: 45px;
}
.h2-titulo{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 45px;
}
.parr{
    font-size: 25px;
}
.body{
    background-color: #F0D5EB;
}
.sabores{
    display: block;
    text-align: center;
}
.table1{
    text-align: center;
    background-color: #F0E6EF;
    border: 1px solid #000;
}

td, th{
    width: 25%;
    border: 1px solid #000;
    border-spacing: 0;
}
